body{
font-family: 'Open Sans'
}
.jumbotron{
  background-color: #b71c1c;
  color:white;
  text-align: center;
}
.buttonrow{
  text-align: center;
  position: relative;
}
.btn{
  background-color: #b71c1c;
  text-align:center;
  color:white;
  height:10rem;
  width: 15rem;
}
.calender{
  padding-top: 1.2rem;
  height:25rem;
}
#submitcheck{
  height:6rem;
  width: 10rem;
  font-size: 15pt;
  text-align:center;
}
#submitupbutton{
  height:6rem;
  width: 10rem;
  font-size: 15pt;
  text-align:center;
}
#formsignup{
display: none;
}
#formcheck{
display: none;
}
#spread{
  height:75rem;
  width:75rem;
  display: none;
}
#editspread{
  height:75rem;
  width:75rem;
  display: none;
}
