body{
font-family: 'Open Sans';
background-color:#616161;
}
.jumbotron{
  background-color: #D32F2F;
  color:white;
  text-align: center;
}
.buttonrow{
  text-align: center;
  position: relative;
}
.btn{
  background-color: #D32F2F;
  text-align:center;
  color:white;
  height:10rem;
  width: 15rem;
}
.calender{
  padding-top: 1.2rem;
  height:25rem;
}
#submitcheck{
  height:6rem;
  width: 10rem;
  font-size: 15pt;
  text-align:center;
}
#submitupbutton{
  height:6rem;
  width: 10rem;
  font-size: 15pt;
  text-align:center;
}
#formsignup{
display: none;
}
#formcheck{
display: none;
font-size: 15pt;
}
#spread{
  min-height: 75rem;
  min-width: 75rem;
  max-width: 75rem;
  max-height: 75rem;
  height:75rem;
  width:75rem;
  display: none;
}
#editspread{
  min-height: 75rem;
  min-width: 75rem;
  max-width: 75rem;
  max-height: 75rem;
  height:75rem;
  width:75rem;
  display: none;
}
